RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<Files ".env">
    Require all denied
</Files>

<Files "*.sqlite">
    Require all denied
</Files>

ServerSignature Off
Header unset X-Powered-By

Header always set X-Frame-Options "SAMEORIGIN"

Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' fonts.googleapis.com; font-src fonts.gstatic.com"

Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"

php_flag display_errors Off
php_flag display_startup_errors Off

Options -Indexes

<FilesMatch "\.(bak|backup|old|orig|save|swp|config|ini|log)$">
    Require all denied
</FilesMatch>

